<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Main Page</title>
</head>
<body>
<div class="wrapper">
    <li class="nav-item">
        <a th:href="@{?lang=lt}">
            <img th:src="@{/images/LtFlag.png}"/>LT
        </a>
    </li>
    <li class="nav-item">
        <a th:href="@{?lang=en}">
            <img th:src="@{/images/UkFlag.png}"/>en
        </a>
    </li>
    <h1 class="name" id="main_page">[[#{app.title}]]</h1>
    <button id="login_button">[[#{app.login}]]</button>
    <button id="register_button">[[#{app.register}]]</button>
    <button id="blogs_button">[[#{app.name}]]</button>


</div>
<div class="center">
    <h1>[[#{app.name}]]</h1>
    <a class="cnb" th:href="new">[[#{app.newBlog}]]</a>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>[[#{app.author}]]</th>
            <th>[[#{app.contents}]]</th>
            <th>[[#{app.utility}]]</th>
            <th>[[#{app.comments}]]</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="blog: ${blogList}">
            <td th:text="${blog.user.getUsername()}"></td>
            <td th:text="${blog.content}">[[#{app.content}]]</td>

            <td >
                <a th:if="${blog.user.getAuthorities()}" th:href="@{'/edit/' + ${blog.id}}">[[#{app.change}]]</a>
                <br/>
                <a  th:href="@{'/delete/' + ${blog.id}}">[[#{app.delete}]]</a>
                <br/>

                <a th:href="@{'/newComment/' + ${blog.id}}">[[#{app.newComment}]]</a>
                <br/>

                <div th:if="${comment.blog.id} == ${blog.id}" th:each="comment: ${commentList}">


<!--                    th:if="${comment.blog.user.getUsername()} == ${username}"-->
                    <a  th:href="@{'/deleteComment/' + ${comment.id}}">[[#{app.deleteComment}]]</a>
                    <br/>

                    <a th:href="@{'/editComment/' + ${blog.id} +'/'+${comment.id}}">[[#{app.editComment}]]</a>
                    <br/>

                </div>
            </td>
            <div th:if="${blog.id} == ${comment.blog.id}" th:each="comment: ${commentList}">
                <td th:text="${comment.content}"></td>

            </div>

        </tr>
        </tbody>
    </table>
</div>


<script type="text/javascript" th:src="@{js/script.js}"></script>

</body>