<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Main Page</title>
</head>
<body>
<div class="wrapper">
    <li class="nav-item">
        <a th:href="@{?lang=lt}">
            <img th:src="@{/images/LtFlag.png}"/>LT
        </a>
    </li>    <li class="nav-item">
    <a th:href="@{?lang=en}">
        <img th:src="@{/images/Klaida.png}"/>en
    </a>
</li>
    <h1 class="name" id="main_page">[[#{app.title}]]</h1>
    <button id="login_button">[[#{app.login}]]</button>
    <button id="register_button">[[#{app.register}]]</button>
    <button id="blogs_button">[[#{app.name}]]</button>

</div>

<center>
    <form class="inputBlog" action="#" th:action="@{/save}" th:object="${blog}" method="post">
        <input type="hidden" th:field="*{id}">
        <label>
            <textarea class="contentInput" type="text" th:field="*{content}"></textarea>
        </label>

        <button class="saveBlog" type="submit">Edit</button>
    </form>
</center>


<script type="text/javascript" th:src="@{js/script.js}"></script>

</body>
