<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/css/bootstrap.mon.css">
    <title>Main Page</title>
</head>
<body>

<div class="wrapper">
    <li class="nav-item">
        <a th:href="@{?lang=lt}">
            <img th:src="@{/images/LtFlag.png}"/>LT
        </a>
    </li>    <li class="nav-item">
    <a th:href="@{?lang=en}">
        <img th:src="@{/images/Klaida.png}"/>en
    </a>
</li>
    <h1 class="name" id="main_page">[[#{app.title}]]</h1>
    <button id="login_button">[[#{app.login}]]</button>
    <button id="register_button">[[#{app.register}]]</button>
    <button id="blogs_button">[[#{app.name}]]</button>

</div>


<form th:action="@{/process_register}" method="post" th:object="${user}">

    <div class="login">
        <h1>[[#{app.register}]]</h1>
        <label>
            <input type="text" th:field="*{username}" required minlength="1" maxlength="10" placeholder="Username..."/>
        </label>
        <label>
            <input type="password" th:field="*{password}" required minlength="1" maxlength="20"
                   placeholder="Password..."/>
        </label>
        <br/>

        <button class="btn btn-primary" type="submit">[[#{app.register}]]</button>

    </div>
</form>

<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>